<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4">
        <h3 class="heading-section">About Us</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse
          veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore
          accusantium tempore dolores sunt.</p>
        <p><a href="#" class="btn btn-primary px-4">Button</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h3 class="heading-section">Blog</h3>
        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_1.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_2.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_3.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="block-23">
          <h3 class="heading-section">Contact Info</h3>
          <ul>
            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, skardu
                Baltistan</span></li>
            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+92 555 5555</span></a></li>
            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@sastaroom.com</span></a></li>
            <li><span class="icon icon-clock-o"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left">
        <p>
          <font size="+1">© 2018 Copyright Reserved Sastaroom.pk</font>
        </p>
      </div>
    </div>
  </div>
</footer>